In [11]:
### practice
class college():
    def details(self):
        name=input("enter stu name:")
        clgname=input("enter clg name:")
        Fees=int(input("cost:"))
college()

In [13]:
RVS=college()
RVS.details()

enter stu name: Rahul
enter clg name: SKACAS
cost: 100000

In [17]:
class scl():
    def students(self):
        name=input("Enter the name:")
        rollno=int(input("enter the number:"))
        marks=int(input("enter the marks:"))
        if marks>50:
            print("pass")
        else:
            print("fail")
scl()

In [20]:
rahul=scl()
rahul.students()

Enter the name: cravin
enter the number: 23102
enter the marks: 40

fail

In [53]:
###try and except and finally concept
try:
    a=int(input("num:"))
    b=int(input("num:"))
    print(a/b)
except ValueError as e :
    print("ValueError",e)
except ZeroDivisionError as e :
    print("ZeroDivisionError",e)
finally:
    print("done")

num: 50
num: nair

ValueError invalid literal for int() with base 10: 'nair'
done

In [50]:
### multiple exception blocks
try:
    a=int(input("num:"))
    b=int(input("num:"))
    print(a/b)
except Exception as e :
    print("Exception",e)
except ZeroDivisionError  as e:
    print("ZeroDivisionError",e)
finally:
    print("done")

num: 50
num: nair

Exception invalid literal for int() with base 10: 'nair'
done

In [58]:
try:
    a=int(input("no:"))
    b=int(input("no:"))
    c=int(input("no:"))
    print(a/b+c)
except Exception as e:
    print("Exception",e)
except ValueError as e:
    print("ValueError",e)
except ZeroDivisionError as e:
    print("ZeroDivisionError",e)
finally:
    print("all done")

no: nair

Exception invalid literal for int() with base 10: 'nair'
all done

In [98]:
####open and close
##f.read()s used to read the file
##f.write()is used to write the file
###f.open()is used to open the file
###f.close()is yused to close the file when the file closed no more actons take place
###f.(r+) is used to add new element in the file by not disturb the existing element

In [99]:
### context manager
    '''''
with open("rahu2005.ipynb")as open_file_cm:
    kuppa=open_file_cm.read()
    print(kuppa)
    ''''

SyntaxError: unterminated string literal (detected at line 6) (3389090730.py, line 6)

In [101]:
### practice qn
try:
    a=int(input("ENTER THE NUMBER:"))
    b=int(input("ENTER THE NUMBER:"))
    print(a/b)
except ZeroDivisionError as e:
    print("ZeroDivisionError",e)

ENTER THE NUMBER: 50
ENTER THE NUMBER: 20

2.5

In [103]:
f=open("python1605.ipynb")
view=f.read()
print(view)

In [ ]:
### context manager
syntax
with open("filename") as newfile name_():
the main advantage of the function it doesnt need a close file concept it automatically implement

In [ ]:
###csv and json 
csv=camma separated value is shrtly knwn by csv
mainly used in camma separated inputs